# ==========================================
# Базові ігнорування Godot 4+ (Технічний кеш)
# ==========================================
.godot/
.import/
export_preset.cfg
*.translation

# ==========================================
# Експортовані ігри та бінарні файли
# ==========================================
/android/
bin/
*.exe
*.dll
*.so
*.dylib
*.apk